input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-bottom: 1px solid #222;
  background-color: #fff;
  resize: none;
}
label {
  margin-right: 6px;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 20px;
}
