.mainHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  border-bottom: 1px solid #f1f3f5;
  align-items: center;
  height: 64px;
}

.dark {
  border-bottom: 1px solid #1e2427;
}

.gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.left li {
  margin-left: 47px;
  text-align: left;
}

.left li:first-child {
  margin-left: 56px;
}

.left li a {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.right li {
  margin-left: 24px;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.right li.signin {
  margin-left: 37px;
}

.right li.lang {
  margin-left: 28px;
}
