@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
:root {
  /*header*/
  --logo-color: #343a40;
  --header-bdb: #f1f3f5;
  --icon-color: #495057;
  --font-color: #495057;
  --btn-color: #4c80f1;
  --btn-font-color: #f8f9fa;
  --hover-font-color: #ff6b6b;
  --vh: 100%;

  /*date picker*/
  --date-picker-bg: #fff;
  --date-picker-bg-bd: #f1f3f5;
  --date-picker-bg-bs: rgba(152, 152, 152, 0.25);
  --date-picker-color: #495057;
  --date-picker-select: #f1f3f5;
  --date-picker-btn: #adb5bd;
  --date-picker-btn-bg: #f1f3f5;
  --date-picker-disable: #adb5bd;
  --date-picker-title-color: #343a40;

  /*main*/
  --main-btn-bg: #e9ecef;
}
:root.dark {
  /*header*/
  --logo-color: #f0f2f4;
  --header-bdb: #1e2427;
  --icon-color: #f0f2f4;
  --font-color: #f0f2f4;
  --btn-color: #7099f4;
  --btn-font-color: #171b1c;
  --hover-font-color: #ff6b6b;

  /*date picker*/
  --date-picker-bg: #1e2427;
  --date-picker-bg-bd: #1e2427;
  --date-picker-bg-bs: rgba(152, 152, 152, 0);
  --date-picker-color: #f8f9fa;
  --date-picker-select: #2a2e31;
  --date-picker-btn: #999fa4;
  --date-picker-btn-bg: #2a2e31;
  --date-picker-disable: #999fa4;
  --date-picker-title-color: #f8f9fa;

  /*main*/
  --main-btn-bg: #adb5bd;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Pretendard", sans-serif;
  min-height: calc(var(--vh, 1vh) * 100);
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  font-family: "Pretendard", sans-serif;
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 15px;
  color: #222222;
  border: none;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder {
  color: #aaaaaa;
}
input:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Pretendard", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}
.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

button {
  font-family: "Pretendard", sans-serif;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
