/*default*/
.btn {
  min-width: 91px;
  min-height: 36px;
  padding: 8px 24px 8px 24px;
  border-radius: 6px;
  background: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: var(--btn-font-color);
}

.langWrap {
  position: absolute;
  width: 120px;
  margin-top: 10px;
  left: -48px;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 8px rgba(152, 152, 152, 0.25));
  background: var(--backgrund_elevated-base-0, #fff);
}

.langWrap button {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--1, #f1f3f5);
  color: var(--font-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.25s ease;
}

.langWrap button:hover {
  color: var(--hover-font-color);
}
