.btn {
  min-width: 91px;
  min-height: 36px;
  padding: 8px 24px 8px 24px;
  border-radius: 6px;
  background: var(--btn-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: var(--btn-font-color);
}
